@import "macchiato.css";

* {
    /* reference the color by using @color-name */
    font-family: "FontAwesome", "Jetbrains Mono";
    color: @text;
}

window#waybar {
    /* you can also GTK3 CSS functions! */
    /* background-color: shade(@base, 0.9); */
    background-color: transparent;
    /* border: 2px solid alpha(@crust, 0.3); */
}

.modules-left,
.modules-center,
.modules-right {
    background-color: shade(@base, 0.9);
    border: 2px solid @lavender;
    margin: 5px 10px 0;
    border-radius: 6px;
    padding: 0.5rem 0.75rem;
}

.modules-left *,
.modules-center *,
.modules-right * {
    margin-left: 10px;
}
